 @import 'base/variables';
 *  {
     font-family: "Roboto";
     
 }

.container {
    max-width: 950px;
    margin: 0 auto;
}
 @import 'blocks/header';
 @import 'blocks/subheader';
 @import 'blocks/description';
 @import 'blocks/sides';
 @import 'blocks/download';
 @import 'blocks/footer';
