.button {
    &__up {
        position: fixed;
        width: 40px;
        height: 40px;
        top: 50%;
        right: 50px;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        &:hover {
            color: rgb(144, 192, 236);
        }
    }
}